{% extends 'base.html'%}
{% block content %}


<div class="container">
    <div class="noproject-wrapper center">
        <h3 class="grey-text">Sorry, you do not have any projects</h3>
        <a href="" class="btn-large grey">
            <i class="material-icons white-text left">add_circle</i>
            <span class="bold">Add Projects</span>
        </a>

    </div>

</div>
<style>
    html {
        background-color: beige;
    }
    
    .noproject-wrapper {
        margin-top: 250px;
        padding: 80px 0px;
        border: 6px solid #444444;
        border-style: dashed;
    }
    
    .noproject-wrapper h3 {
        padding-top: 10px;
        margin-bottom: 50px
    
    }
</style>
{% endblock %}